.blog-main-container {
  padding: 2vh 5vw;
  display: flex;
}

.blog-main-container .blog-main-posts {
  width: 80%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cards-container .blog-card {
  padding: 15px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 15px;
  width: 33%;
}

.cards-container .blog-card .card-link {
  text-decoration: none;
  color: black;
}

.cards-container .blog-card .card-link h3 {
  background-color: rgba(14, 193, 238, 0.445);
  padding: 10px;
}

.blog-main-container .blog-main-aside ul {
  list-style: none;
}

.blog-main-container .blog-main-aside ul li {
  padding: 5px;
}

.login-admin{
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border: 2px solid #4CAF50;
}

.login-admin:hover {
  background-color: #4CAF50;
  color: white;
}