.container_sobre{
    margin: 0;
    padding: 2.5vw;
    font-family: arial;
}

.txt{
    padding: 0 40vw 0 2vw;
}

.txt h1{
    padding: 1vw 0 1vw 0;
}

.txt p{
    padding: 1vw 0 0 0;
    color: #cc66ff;
}

.alert{
    display: flex;
    text-align: justify;
    padding: 5vw 0 5vw 5vw;
    justify-content: space-around;
}

.alert_icon{
    padding: 2vw 3vw 0 0;
    width: 20%;
}

.alert_icon h3{
    padding: 2vw 0 0 0;
}

.alert_icon p{
    padding: 2vw 0 0 0;
}

.alert_drawn img{
    height: 50vw;
}