.container_sobre_tea{
    margin: 0;
    padding: 2.5vw;
    font-family: arial;
}

.txt{
    padding: 0 40vw 0 2vw;
}

.txt h1{
    padding: 1vw 0 1vw 0;
}

.txt p{
    padding: 1vw 0 0 0;
    color: #cc66ff;
}

.team{
    text-align: center;
    padding: 5vw 0 5vw 5vw;
}

.container_sobre_tea .team .team_icon{
    padding: 2vw 3vw 0 0;
}

.team_drawn{
    z-index: -1;
    float: right;
}