*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--color-background);
}

:root{
    --color-text-header: #ffffff;
    --color-nav-transtion: #cccccc;
    --blue-light: #00AFEF;
    --blue-darker: #007099;
    --color-background: #00418D;
    --color-footer: #00000062;

}

/* Header Start*/
.header{
    background-image: url(../../Assets/landingpage/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 5% ;
    color: var(--color-text-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

/*NavBar Start*/
.header .navbar {
    width: 100%;
    height: 3vh;
    display: flex; /*flexbox*/
    justify-content: flex-start; /*espaçamento horizontal*/
    align-items: center; /*espaçamento vertical*/

}

.header .navbar a{
    text-decoration: none;
    color: var(--color-text-header);
    margin-right: 5%;
    outline: none;
}

.header .navbar a:hover {
    transition: 0.5s;
    color: var(--color-nav-transtion);
    transform: scale(1.2);
    border-top:  2px solid var(--color-nav-transtion);
}
/*NavBar End*/

.logo{
    max-width: 50%;
    padding-top: 3%;
    display: flex;
    margin: auto;
}

.welcome{
   padding-top: 3%;
   font-size: 7vw;
   text-shadow: 0px 0px 5px black;

}

.header-text{
    padding-top: 3%;
    text-align: center;
    width: 60%;
}

.playNow{
    text-align: center;
    text-decoration: none;
    width: 25%;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 1.5%;
    border-radius: 15px;
    background-color: var(--blue-light);
    outline: none;
    box-shadow: 5px 5px 5px black;

    color: var(--color-text-header);
}

.playNow:hover{
    transition: 0.5s;
    transform: scale(1.2);
    background-color: var(--blue-darker);
}

/* Header End*/

/*Sections Start*/

.sections{
    position: relative;
    background-color: #ffffff;
    margin: -6% 10%;
    border-radius: 45px;
    padding: 10%;
    text-align: justify;
    font-size: 1.5vw;
    box-shadow: 1px 1px 5px black;
    padding-bottom: 0;
}

.section-title{
    font-size: 5vw;
    text-align: center;
    margin-top: -10%;
    padding-bottom: 5%;
}

.why, .how, .what {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
    transition: 0.5s;
}

.section-text{
    width: 80%;
    font-size: 1.5vw;
}


.section-figure {
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.section-1{
    padding-bottom: 10%;
}
.section-figure img{
    width: 10vw;
}
.section-2{
    padding-bottom: 6%;
}

.section-2-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.creating, .counting, .making{
    padding: 0 2%;
}



.section-3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 p{
    width: 80%;
    padding-bottom: 3%;
}

.footer{
    background-color: var(--color-footer);
    margin-top: 5%;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer .logo{
    margin: 0;
}

.footer .menu{
    list-style: none;
}

.footer .menu  li a{
    color: white;
    text-decoration: none;
}