
.navbar{
    padding: 1.5vw;
    width: 90vw;
}

.navbar .nav-container{
    display: flex;
    justify-content: space-between;
}

.navbar .nav-container .nav-menu{
    display: flex;
    width: 60vw;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav_item{
    margin: 10px;
    padding: 10px;
}

.nav-links{
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.nav-links:hover{
    border-top: 1px solid black;
}

.language-menu{
    text-align: center;
    background-color: white;
    color: black;
}

.language-menu-container{
    width: 10vw;
    text-align: center;
    position: absolute;
    right: 2vw;
    
}

.language-menu li{
    font-size: 22px;
    list-style: none;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.language-menu li:hover{
    background-color: #00AFEF;
}