.container_sobre{
    margin: 0;
    padding: 2.5vw;
    font-family: arial;
}

.txt{
    padding: 0 40vw 0 2vw;
}

.txt h1{
    padding: 1vw 0 1vw 0;
}

.txt p{
    padding: 1vw 0 0 0;
    color: green;
}

.container_sobre_tea .team .team_icon{
    padding: 2vw 3vw 0 0;
}

.team{
    display: flex;
    text-align: center;
    padding: 5vw 0 5vw 5vw;
    justify-content: space-between;
}

.team_icon img{
    height: 15vw;
    border-radius: 60%;
}

.team_icon h3{
    padding: 2vw 0 0 0;
}